<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	
	<!-- spring在web应用中使用需要配置一个监听器 -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <!-- 配置spring.xml和spring-mybatis.xml这两个配置文件的位置，固定写法 -->
	    <!-- <param-value>classpath:applicationContext.xml,classpath:spring-mybatis.xml</param-value> -->
	    <param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
	    <description>Spring监听器</description>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- springmvc需要配置一个servlet -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>userList</servlet-name>
		<servlet-class>com.ly.controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userList</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
